body
{
  position: absolute;
  top: 0;
  margin: 0;
  width: 768px;
  height: 1000px;
  font-family: "Helvetica Neue", "Helvetica";
  xbackground-color: rgb(146,228,232);
  background-color: hsl(183, 65%, 25%);
  overflow: hidden;
  z-index: 1;
  -webkit-font-smoothing: antialiased;
  -webkit-user-select: none;
}
.xo-drag-container
{
  position: absolute;
  z-index: 1000;
}
.xo-drag-container .tag
{
  color: black;
  font-size: 14px;
}
.xo-scrollable
{
  width: 100%;
  -webkit-transform: translate3d(0,0,0);
}
#templates
{
  display: none;
}
#root
{
  position: absolute;
  height: 100%;
  margin: 4px;
  box-sizing: border-box;
}
#root-dialog
{
  -webkit-transform: translate3d(0,0,1px);
}
.main
{
  width: 100%;
  height: 100%;
}
.col
{
  position: absolute;
  top: 0;
  display: inline-block;
  vertical-align: top;
}
.col.right
{
  left: 558px;
  width: 202px;
}
.col.middle2
{
  bottom: 4px;
  left: 0;
  width: 554px;
  box-sizing: border-box;
}
.pane.filter
{
  height: 29px;
}
.pane.filter input
{
  display: inline-block;
  box-sizing: border-box;
  border: 0;
  width: 100%;
  height: 100%;
  font: inherit;
  vertical-align: top;
}
.pane.filter .filter-clear
{
  position: absolute;
  top: 2px;
  right: 2px;
  width: 26px;
  height: 26px;
  background: url(../img/remove.png) no-repeat top right;
}
.pane.filter .filter-clear:active
{
  opacity: 0.5;
}
.pane.filter input.dropzone
{
  background-color: #eeeeee;
}
.pane.tweets
{
  height: 960px;
  padding: 3px;
  box-sizing: border-box;
  -webkit-transform: translate3d(0,0,0);
}
.pane.tweets > .view
{
  height: 950px;
}
.col.middle2 .pane.tweets > .view > .collection-view
{
  position: relative;
  height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch;
}
.col.middle2 .pane.tweets > .view > .collection-view::-webkit-scrollbar
{
  width: 0;
}
.pane
{
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  -webkit-border-radius: 3px;
  margin-bottom: 5px;
  background-color: #fefbf3;
}
.col.right .pane
{
  background-color: #ECF4F9;
}
.col.right .pane.compose
{
  padding: 4px;
  background-color: white;
}
.col.right .pane.compose:active
{
  background-color: grey;
}
.current-list
{
  padding: 5px;
  min-height: 100px;
}
.current-list .source > .view, .current-list .viz > .view
{
  display: inline-block;
}
.current-list .viz
{
  padding-top: 3px;
}
.lists
{
  padding: 5px 5px 0 5px;
}
.lists-title
{
  display: inline-block;
}
.lists-title:active
{
  opacity: 0.5;
}
.lists-activity, .lists-error
{
  display: inline-block;
  float: right;
  margin: 4px 3px 0 0;
}
.lists-gear
{
  display: inline-block;
  height: 16px;
  width: 16px;
  background-image: url("../img/gear.png");
  vertical-align: text-top;
}
.lists-gear:active
{
  x-opacity: 0.5;
}
.lists-activity .show
{
  width: 16px;
  height: 16px;
  background-image: url("../img/spinner.gif");
}
.lists-error .show
{
  width: 16px;
  height: 16px;
  background-image: url("../img/warning-icon.png");
}
.lists-error .show:active
{
  opacity: 0.5;
}
.create-list
{
  border: 1px solid transparent;
  margin: 10px 4px 5px 0px;
  -webkit-border-radius: 3px;
}
.create-list input, .list-header .title input, .tweet-dialog-header input
{
  font: inherit;
  width: 100%;
  border: solid 1px #c0c0c0;
  box-sizing: border-box;
}
.tweet-dialog-header input
{
  height: 25px;
  line-height: 100%;
  width: 400px;
  margin-left: 5px;
  font-size: 18px;
}
.current-lists
{
  height: 0;
  padding-top: 5px;
  overflow: hidden;
}
.current-lists.open
{
  height: auto;
}
.list
{
  border: 1px solid transparent;
  padding: 3px;
  height: 18px;
  -webkit-border-radius: 3px;
}
.list:active
{
  background-color: grey;
}
.list.selected
{
  border-color: grey;
}
.list.dropzone, .create-list.dropzone, .list-tags.dropzone
{
  border-color: rgba(70, 130, 180, 0.3) !important;
}
.list .unread
{
  float: right;
  border: 1px solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.6);
  background-color: white;
  padding: 0 5px;
  -webkit-border-radius: 10px;
  line-height: 18px;
  font-size: 12px;
}
.list .unread.unread0
{
  display: none;
}
.list .title
{
  display: inline-block;
  width: 140px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.hotness50
{
  background-color: hsl(120,100%,50%);
}
.hotness75
{
  background-color: hsl(120,100%,75%);
}
.hotness80
{
  background-color: hsl(120,100%,80%);
}
.hotness85
{
  background-color: hsl(120,100%,85%);
}
.hotness90
{
  background-color: hsl(120,100%,90%);
}
.hotness95
{
  background-color: hsl(120,100%,95%);
}
.hotness100
{
  background-color: inherit;
}
.list-header
{
  padding-bottom: 5px;
}
.list-header .title
{
  padding-right: 5px;
}
.lists-title, .list-header .title
{
  font-size: 110%;
  font-weight: bold;
}
.list-tags
{
  padding: 2px 0px;
  border: 1px solid transparent;
  -webkit-border-radius: 3px;
}
.list-footer
{
  padding-top: 10px;
}
.list-footer .button
{
  float: right;
}
.list-footer .clear
{
  clear: both;
}
.tweet
{
  position: relative;
  font-size: 15px;
  padding: 10px;
  clear: both;
  min-height: 48px;
  border-bottom: 1px solid #ddd;
  background-color: #fefbf3;
}
.icon
{
  margin-top: 2px;
  width: 48px;
  height: 48px;
  float: left;
  -webkit-border-radius: 5px;
}
.icon:active
{
  opacity: 0.5;
}
.body
{
  padding-left: 56px;
}
.fullname
{
  font-weight: bold;
}
.screenname
{
  color: #808080;
  font-size: 12px;
}
.timestamp
{
  color: #808080;
  float: right;
  font-size: 12px;
}
.text
{
  width: 100%;
  padding: 2px 0px;
  word-wrap: break-word;
}
.text .url, .text .user_mention, .text .hashtag, .text .media
{
  color: #196DA9;
  text-decoration: none;
}
.tweet .text .url:active, .tweet .text .user_mention:active, .tweet .text .media:active
{
  text-decoration: underline;
}
.retweetedby
{
  padding-left: 56px;
  font-size: 12px;
  color: #808080;
}
.retweetedby .retweetby-screenname
{
  font-size: 10px;
  color: #c0c0c0;
}
.tweet .tags
{
  padding: 4px 130px 0px 56px;
}
.tags > .view, .list-tags > .view
{
  display: inline;
}
.list-tags .tag, .source .tag, .viz .tag
{
  color: black;
  border-color: rgba(0,0,0,0.5);
}
.tags .tag-wrapper
{
  display: inline-block;
  -webkit-user-drag: element;
  padding: 7px 0px;
  margin: -7px 0px;
}
.tag
{
  display: inline-block;
  margin-top: 1px;
  padding: 1px 3px;
  border: 1px solid rgba(0,0,0,0.5);
  font-size: 9px;
  color: rgba(0,0,0,0.5);
  -webkit-border-radius: 5px;
  background-color: hsl(149,98%,98%);
}
.kill-tag
{
  display: inline-block;
}
.edit-mode .kill-tag .tag
{
  font-size: 12px;
}
.edit-mode .kill-tag .tag:after
{
  padding: 0px 2px 0px 4px;
  content: "x";
}
.tweet .tags .tag.dragging
{
  opacity: 0.2;
}
.tweet .photo, .tweet .video
{
  margin-top: 10px;
  max-height: 320px;
  max-width: 350px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,0.1);
}
.tweet .video iframe
{
  max-width: 100%;
  max-height: 100%;
}
.tweet .controls
{
  height: 16px;
}
.tweet .controls span
{
  float: right;
}
.actions
{
  position: absolute;
  right: 10px;
  bottom: 6px;
}
.actions .child-count
{
  display: inline-block;
  border: 1px solid rgba(0,0,0,0.2);
  color: rgba(0,0,0,0.6);
  padding: 0 5px;
  -webkit-border-radius: 10px;
  line-height: 13px;
  font-size: 10px;
  vertical-align: text-top;
}
.actions .action-box
{
  display: inline-block;
  height: 20px;
  margin-left: 20px;
}
.actions .action
{
  display: inline-block;
  height: 20px;
  background: url("../img/tweet-icons.png") no-repeat left top;
  opacity: 0.2;
}
.actions .action:active
{
  opacity: 1;
}
.actions .action.reply
{
  width: 20px;
  background-position: -71px 0;
}
.actions .action.retweet
{
  width: 28px;
  background-position: -43px 0;
}
.actions .action.favorite
{
  width: 21px;
  background-position: -21px 0;
}
.actions .action.favorite.active
{
  width: 21px;
  background-position: 0 0;
}
.nested-tweets
{
  overflow: hidden;
  -webkit-transition: height 0.5s;
}
.nested-tweets .tweet
{
  min-height: 35px;
  font-size: 13px;
}
.nested-tweets .tweet:last-child
{
  border-bottom: none;
}
.nested-tweets .tweet .icon
{
  width: 32px;
  height: 32px;
}
.nested-tweets .tweet .body
{
  padding-left: 40px;
}
.nested-tweets .tweet .body .timestamp
{
  font-size: 10px;
}

.image-view .tweet
{
  text-align: left;
  line-height: normal;
  border-bottom: none;
  background-color: white;
}
.image-view .tweet .body
{
  padding-bottom: 24px;
}

.basic-tweet
{
  min-width: 400px;
  box-sizing: border-box;
  line-height: normal;
  text-align: -webkit-auto;
  padding-top: 15px;
}
.basic-tweet .actions
{
  position: relative;
  float: right;
  padding-top: 10px;
}

.media-box
{
  width: 273px;
  height: 205px;
  float: left;
  padding: 5px;
  box-sizing: border-box;
  z-index: 1;
}
.media-box > .view
{
  width: 100%;
  height: 100%;
}
.media-box .photo
{
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.media-box .video iframe
{
  z-index: -1;
  max-width: 100%;
  max-height: 100%;
}

.dialog
{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  padding: 60px;
  top: 0px;
  height: 1004px;
  left: 0px;
  right: 0px;
  z-index: 10;
  box-sizing: border-box;
}
.dialog .inner
{
  background-color: white;
  padding: 10px;
  height: 100%;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #444;
}
.image-view
{
  line-height: 880px;
  text-align: center;
}
.image-view .inner
{
  display: inline-block;
  vertical-align: middle;
  height: auto;
  max-height: 100%;
  min-width: 100px;
  min-height: 100px;
}
.image-view .inner img, .image-view .inner iframe
{
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: auto;
}

.tweet-dialog .inner
{
  margin-top: 60px;
  padding: 0;
  height: auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
}
.tweet-dialog-header
{
  border-bottom: 1px solid #eee;
  padding: 5px 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 36px;
}
.tweet-dialog-body
{
}
.tweet-dialog-footer
{
  height: 28px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding: 14px 15px 15px 15px;
  -webkit-border-radius: 0 0 6px 6px;
  -webkit-box-shadow: insert 0 1px 0 #ffffff;
}
.tweet-dialog .tweet-text, .tweet-dialog .tweet-text-edit
{
  width: 100%;
  height: 100px;
  font: inherit;
  padding: 15px;
  box-sizing: border-box;
  border: 0;
  outline: none;
  resize: none;
}
.tweet-dialog .tweet-text
{
  margin-bottom: 5px;
}
.tweet-dialog-footer .suggestions
{
  display: inline-block;
  width: 410px;
  height: 32px;
  overflow-x: scroll;
  overflow-y: hidden;
  -webkit-overflow-scrolling: touch;
}
.tweet-dialog-footer .suggestions::-webkit-scrollbar
{
  width: 0;
}
.tweet-dialog-footer .suggestions .inside
{
  white-space: nowrap;
}
.tweet-dialog-footer .suggestions .user-suggestion, .tweet-dialog-footer .suggestions .hashtag-suggestion
{
  display: inline-block;
  background-color: white;
  border: 1px solid rgba(0,0,0,0.5);
  -webkit-border-radius: 3px;
  font-size: 10px;
  padding: 2px;
}
.tweet-dialog-footer .suggestions .user-suggestion:active, .tweet-dialog-footer .suggestions .hashtag-suggestion:active
{
  background-color: grey;
}
.tweet-dialog-footer .suggestions .user-suggestion .screenname
{
  font-size: 8px;
}
.tweet-dialog-footer .controls
{
  float: right;
}
.button
{
  display: inline-block;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-image: -webkit-linear-gradient(#ffffff, #ffffff 25%, #e6e6e6);
  padding: 5px 14px 6px 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  font-size: 13px;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  -webkit-border-radius: 4px;
  -webkit-transition: 0.1s linear all;
}
.button.primary
{
  color: #ffffff;
  background-color: #0064cd;
  background-image: -webkit-linear-gradient(top, #049cdb, #0064cd);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.button.danger
{
  color: #ffffff;
  background-color: #C43C35;
  background-image: -webkit-linear-gradient(top, #EE5F5B, #C43C35);
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.button:active
{
  background-position: 0 -15px;
  color: #333;
  -webkit-box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.25), 0 1px 2px rgba(0, 0, 0, 0.05);
}
.button.danger:active
{
  color: #ffffff;
}
.tweet-dialog .controls .tweet-count
{
  display: inline-block;
  padding-right: 20px;
}

.readability > .inner
{
  overflow: hidden;
}
.readability > .inner img
{
  max-width: 100%;
}
.readability > .inner > .title
{
  height: 27px;
  overflow: hidden;
  font-size: 22px;
  padding-bottom: 15px;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.readability > .inner > .text
{
  font-size: 14px;
  -webkit-column-count: 2;
  -webkit-column-gap: 10px;
  height: 788px;
  -webkit-transform: translate3d(0,0,1px);
  -webkit-transition: -webkit-transform 0.2s ease;
}
.readability > .inner > .text a
{
  color: inherit;
  text-decoration: inherit;
}
.readability > .inner > .readability-logo
{
  position: absolute;
  height: 14px;
  width: 90px;
  bottom: 50px;
  left: 70px;
  background-image: url("../img/readability.png");
}
.readability > .inner > .footer
{
  text-align: center;
  height: 14px;
  margin: 20px auto 0 auto;
  background-image: url("../img/pages.png");
}
.readability > .inner > .web
{
  position: absolute;
  bottom: 50px;
  right: 70px;
}
.pages0, .pages1
{
  width: 0;
}
.pages2
{
  width: 28px;
}
.pages3
{
  width: 42px;
}
.pages4
{
  width: 56px;
}
.pages5
{
  width: 70px;
}
.pages6
{
  width: 84px;
}
.pages7
{
  width: 98px;
}
.pages8
{
  width: 112px;
}
.pages9
{
  width: 126px;
}
.pages10
{
  width: 140px;
}
.pagenr0
{
  background-position: -126px 0;
}
.pagenr1
{
  background-position: -112px 0;
}
.pagenr2
{
  background-position: -98px 0;
}
.pagenr3
{
  background-position: -84px 0;
}
.pagenr4
{
  background-position: -70px 0;
}
.pagenr5
{
  background-position: -56px 0;
}
.pagenr6
{
  background-position: -42px 0;
}
.pagenr7
{
  background-position: -28px 0;
}
.pagenr8
{
  background-position: -14px 0;
}
.pagenr9
{
  background-position: 0 0;
}
.readability .text p
{
  -webkit-column-break-before: auto;
}
.readability .hidden, .readability #rdb-article-marketing, .readability .text hr
{
  display: none;
}
.readability #main-content-picture img, .readability .body-narrow-width img
{
  max-width: 100%;
}
.readability .caption span
{
  display: block;
}
.readability .story-date
{
  font-size: 10px;
}
.tweet-profile
{
  padding-top: 200px;
}
.tweet-profile .border
{
  padding: 10px;
  background-color: white;
  -webkit-border-radius: 5px;
  -webkit-box-shadow: 0 0 10px #444;
}
.tweet-profile .background
{
  padding: 50px 0 0 75px;
  -webkit-border-radius: 5px;
}
.tweet-profile .inner
{
  min-height: 165px;
  background-color: rgba(255,255,255,0.9);
  -webkit-box-shadow: none;
  -webkit-border-radius: 0;
  border-top-left-radius: 5px;
}
.tweet-profile .left
{
  display: inline-block;
  width: 65%;
  vertical-align: top;
}
.tweet-profile .location
{
  padding: 4px 0 0 56px;
  font-size: 12px;
}
.tweet-profile .url
{
  padding-left: 56px;
  font-size: 10px;
}
.tweet-profile .right
{
  display: inline-block;
  width: 34%;
  vertical-align: top;
}
.tweet-profile .stats
{
  width: 100%;
  border: solid 1px #ddd;
  -webkit-border-radius: 4px;
  background-color: #f4f4f4;
  margin-top: 2px;
}
.tweet-profile .stats > div
{
  padding: 5px;
}
.tweet-profile .stats .label
{
  display: inline-block;
  width: 50%;
  font-variant: small-caps;
}
.tweet-profile .stats > div:nth-child(even)
{
  background-color: white;
}
.tweet-profile .description
{
  width: 95%;
  font: 15px;
  padding-top: 10px;
  clear: both;
}
.tweet-profile .button.follow, .tweet-profile .button.unfollow
{
  margin-top: 40px;
  float: right;
}
.error-view
{
  padding: 300px 100px;
}
.error-view .inner
{
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
}
.error-view .summary
{
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  font-variant: small-caps;
}
.error-view .errors
{
  border: solid 1px #ddd;
  -webkit-border-radius: 4px;
  background-color: #f4f4f4;
  margin-top: 2px;
}
.error-view .errors .error .error-close
{
  display: inline-block;
  float: right;
  margin: -4px 5px 0 0;
  color: black;
  font-size: 20px;
  font-weight: bold;
  text-shadow: 0 1px 0 white;
  opacity: 0.2;
}
.error-view .errors .error .error-close:active
{
  opacity: 1;
}
.error-view .errors > .view:nth-child(even)
{
  background-color: white;
}
.error-view .errors .error .error-title
{
  margin: 4px;
  display: inline-block;
  padding: 1px 3px 2px 3px;
  text-transform: uppercase;
  font-weight: bold;
  background-color: #b94a48;
  color: white;
  -webkit-border-radius: 3px;
  font-size: 10px;
}
.error-view .errors .error .error-text
{
  padding: 0px 6px 6px 12px;
}
.error-view .errors .error-fetch .error-title::after
{
  content: "Fetch new tweets";
}
.error-view .errors .error-tweet .error-title::after
{
  content: "Tweet";
}
.error-view .errors .error-retweet .error-title::after
{
  content: "Retweet";
}
.error-view .errors .error-favorite .error-title::after
{
  content: "Favorite";
}
.error-view .errors .error-unfavorite .error-title::after
{
  content: "Unfavorite";
}
.error-view .errors .error-reply .error-title::after
{
  content: "Reply";
}
.error-view .errors .error-dm .error-title::after
{
  content: "Direct Message";
}
.welcome
{
  text-align: center;
}
.welcome .inner
{
  height: 200px;
}
.welcome-title
{
  font-size: 32px;
  padding: 20px;
}
.welcome-body
{
  font-size: 20px;
  padding-bottom: 40px;
}